body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
.header .logo h2{
    font-size: 2em;
    padding-left: 30px;
}
.header .menu a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding-right: 30px;
}
.header .menu a:hover{
    color: deeppink;
}
.container{
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.container .main-title h1{
    font-size: 4em;
    text-align: center;
}
.container .main-button a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    background-color: black;
    padding: 10px 30px;
    border-radius: 30px;
}
.container .main-button a:hover{
    background-color: deeppink;
}
.section-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    width: 300px;
    height: 400px;
    border-radius: 15px;
    margin: 30px;
    box-shadow: 0.5px 0.5px 5px lightgrey;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
.section-two .box a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    background-color: black;
    padding: 5px 25px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.section-two .box a:hover{
    background-color: deeppink;
}
.box:hover{
    box-shadow: 0.5px 0.5px 30px lightgrey;
    transition: box-shadow 0.3s linear;
}
.section-two .box p{
    font-size: 1.2em;
    text-align: justify;
}
footer{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content: center;
    align-items: center;
}
footer p{
    color: white;
    font-size: 1.5em;
    background-color: black;
}